// width&height
$min_width: 1000px;

// colors
$black: #111;
$main_black: #373737;
$light_black: #333;

$main_red: #ba1e46;
$dark_red: #9b193a;

$main_orange: #f58025;

$main_green: #c1d835;
$light_green: #d1de84;

$success: #00CC00;
$error: #ee1b2d;

$text_gray: #464646;

$main_gray: #525252;
$main_gray2: #c9d1e0;
$light_gray: #f2f2f2;
$light_gray2: #e7e7e7;
$dark_gray: #3f3f3f;
$darkest_gray: #303030;


$main_ice: #d8e3f4;
$light_ice: #e5e8ec;
$dark_orange: #ca7539;
$main_yellow: #ffca11;
$dark_yellow: #c87a00;
$main_blue: #2574b2;
$light_blue: #3d8ed8;
$modal_blue: #4e5fbf;
$dark_blue: #373d7d;
$main_violet: #5b3674;
$light_violet: #bdb1cc;
$dark_violet: #3c2863;
